/*@import url('https://fonts.googleapis.com/css?family=Cookie|Raleway:400,600,700|Roboto:400,700&display=swap');*/

@font-face {
    font-family: "Cookie";
    src: local("Cookie-Regular"), url("Fonts/Cookie/Cookie-Regular.ttf");
    font-display: swap;
    font-weight : normal;
}
@font-face {
    font-family: "Raleway";
    src: local("Raleway"), local("Raleway-Regular"), url("Fonts/Raleway/Raleway-Regular.ttf");
    font-display: swap;
    font-weight : 400;
}
@font-face {
    font-family: "Raleway";
    src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url("Fonts/Raleway/Raleway-SemiBold.ttf");
    font-display: swap;
    font-weight: 600;
}
@font-face {
    font-family: "Raleway";
    src: local("Raleway Bold"), local("Raleway-Bold"), url("Fonts/Raleway/Raleway-Bold.ttf");
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto"), local("Roboto-Regular"), url("/Fonts/Roboto/Roboto-Regular.ttf");
    font-display: swap;
    font-weight : 400;
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto Bold"), local("Roboto-Bold"), url("/Fonts/Roboto/Roboto-Bold.ttf");
    font-display: swap;
    font-weight: 700;
}

body
{
    background-color: #2a3b40;
}

header
{
    background-image: url("img/Background_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding: 3%;
}

.main_menu
{
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 2.2rem;
    color: rgba( 255, 255, 255, 0.78 );
}
.main_menu li
{
    font-weight: bold;
    margin: 0 1rem;
}

.main_menu li:first-child
{
    /*margin-right: 20%;*/
    margin-right: auto;
}

.header_pack
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba( 255, 255, 255, 0.82 );
    /*width: 758px;*/
    width: 55%;
    margin: 17% auto;
    padding: 5%;
}

.main_header
{
    font-family: "Cookie", cursive;
    color: rgb( 44, 58, 66 );
    margin-top: -0.15em;
    margin-bottom: -0.25em;
    text-align: center;
    -moz-transform: matrix( 0.75586105607896,0,0,0.75538704220976,0,0);
    -webkit-transform: matrix( 0.75586105607896,0,0,0.75538704220976,0,0);
    -ms-transform: matrix( 0.75586105607896,0,0,0.75538704220976,0,0);
}

.secondary_header
{
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: rgb( 173, 108, 18 );
    font-weight: 600;
    text-align: center;
}

h1.main_header
{
    font-size: 140px;
}

h3.secondary_header
{
    font-size: 60px;
}

.info_button
{
    background-color: #fff;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: rgb( 38, 54, 58 );
    text-align: center;
    border: 0;
    margin-top: 10px;
    padding: 5px 15px;
}
/*-----------------------------------------------------------------------------------------------*/
.introduction
{
    display: flex;
    justify-content: space-around;
    padding: 0 6%;
    align-items: center;
}

.contrasting_header
{
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: rgb( 255, 255, 255 );
    margin-bottom: 1em;
}

.contrasting_text
{
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: rgb( 255, 255, 255 );
    line-height: 2;
}

.introduction img
{
    margin: 4%;
}
/*-----------------------------------------------------------------------------------------------*/
.main_footer
{
    display: grid;
    grid-template-columns: 50% 12% 12% auto;
    grid-template-rows: 25% 75%;
    grid-gap: 30px;
    grid-template-areas:
            "m_header l_header1 l_header2 l_header3"
            "par l_1 l_2 l_3";
    padding: 3% 8% 4% 8%;
    background-color: rgba( 255, 255, 255, 0.8 );
    margin-left: auto;
    margin-right: auto;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: rgb( 45, 47, 42 );
}

.main_footer h5
{
    text-transform: uppercase;
    grid-area: m_header;
    font-weight: bold;
    font-size: 25px;
}

.main_footer p
{
    grid-area: par;
    font-size: 18px;
    line-height: 1.5;
    padding-right: 40%;
}

.main_footer div
 {
     text-transform: uppercase;
     font-weight: bold;
     font-size: 20px;
 }

.list_header_1
{
    grid-area: l_header1;
}
.list_header_2
{
    grid-area: l_header2;
}
.list_header_3
{
    grid-area: l_header3;
}

.main_footer li
{
    font-weight: bold;
    font-size: 20px;
}

.navigation_list_1
{
    grid-area: l_1;
}
.navigation_list_2
{
    grid-area: l_2;
}
.navigation_list_3
{
    grid-area: l_3;
}
.navigation_list_3 li
{
    font-weight: normal;
}

