/*@import url('https://fonts.googleapis.com/css?family=Cookie|Raleway:400,600,700|Roboto:400,700&display=swap');*/

@font-face {
    font-family: "Cookie";
    src: local("Cookie-Regular"), url("Fonts/Cookie/Cookie-Regular.ttf");
    font-display: swap;
    font-weight : normal;
}
@font-face {
    font-family: "Raleway";
    src: local("Raleway"), local("Raleway-Regular"), url("Fonts/Raleway/Raleway-Regular.ttf");
    font-display: swap;
    font-weight : 400;
}
@font-face {
    font-family: "Raleway";
    src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url("Fonts/Raleway/Raleway-SemiBold.ttf");
    font-display: swap;
    font-weight: 600;
}
@font-face {
    font-family: "Raleway";
    src: local("Raleway Bold"), local("Raleway-Bold"), url("Fonts/Raleway/Raleway-Bold.ttf");
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto"), local("Roboto-Regular"), url("/Fonts/Roboto/Roboto-Regular.ttf");
    font-display: swap;
    font-weight : 400;
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto Bold"), local("Roboto-Bold"), url("/Fonts/Roboto/Roboto-Bold.ttf");
    font-display: swap;
    font-weight: 700;
}

body
{
    background-color: rgb(42, 59, 64);
}
header
{
    background-image: url("img/Background_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding: 3%;
}
.main_menu
{
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 2.2rem;
    color: rgba( 255, 255, 255, 0.78 );
}
.main_menu li
{
    font-weight: bold;
    margin: 0 1rem;
}
.main_menu li:first-child
{
    /*margin-right: 20%;*/
    margin-right: auto;
    padding-right: 1rem;
}
.header_pack
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba( 255, 255, 255, 0.82 );
    /*width: 758px;*/
    width: 55%;
    margin: 17% auto;
    padding: 7%;
}
.main_header
{
    font-family: "Cookie", cursive;
    color: rgb( 44, 58, 66 );
    text-align: center;
}
.secondary_header
{
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: rgb( 173, 108, 18 );
    font-weight: 600;
    text-align: center;
}
h1.main_header
{
    font-size: 106px;
    margin-top: -0.15em;
    margin-bottom: -0.25em;
}
h3.secondary_header
{
    font-size: 74px;
}
.info_button
{
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: rgb( 38, 54, 58 );
    text-align: center;
    border: 0;
    margin-top: 10px;
    padding: 5px 15px;
}
/*-----------------------------------------------------------------------------------------------*/
.introduction
{
    display: flex;
    justify-content: space-around;
    padding: 4%;
    align-items: center;
}

.contrasting_header
{
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: rgb( 255, 255, 255 );
    margin-bottom: 1em;
}

.contrasting_text
{
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: rgb( 255, 255, 255 );
    line-height: 2;
}

.introduction img
{
    margin: 0 6%;
    height: 354px;
    width: 527px;
}
/*-----------------------------------------------------------------------------------------------*/
.news
{
    background-color: rgb(212, 216, 217);
    font-family: "Raleway", sans-serif;
    color: rgb( 42, 59, 64 );
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
}
.news section
{
    margin: 0 3%;
}
.news h4
{
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    margin: 1em 0;
}
.news p
{
    font-size: 16px;
    line-height: 1.5;
}
.circle
{
    display: inline-block;
    border-radius: 50%;
    background-color: rgb( 42, 59, 64 );
    width: 30px;
    height: 30px;
}

/*-----------------------------------------------------------------------------------------------*/
article.menu_food
{
    background-image: url("img/Background_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding: 7%;
    display: flex;
}
div.menu_food
{
    background-color: rgba( 255, 255, 255, 0.82 );
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 270px));
    grid-template-areas:
            "gridHeader gridHeader gridHeader gridHeader"
            "dishImg1 dish1 dishImg2 dish2"
            "dish3 dishImg3 dish4 dishImg4"
            "dishImg5 dish5 dishImg6 dish6";
    align-items: center;
    justify-items: center;
    margin: auto;
}
.menu_food h2.main_header
{
    font-size: 77px;
    margin-top: -0.15em;
    margin-bottom: -0.25em;
}
.menu_food h3.secondary_header
{
    font-size: 45px;
}
.menu_food h4
{
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb( 48, 71, 81 );
    text-align: center;
}
.menu_food p
{
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: rgb( 48, 71, 81 );
    text-align: center;
    margin: 1em 0;
}
.price
{
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    color: rgb( 48, 71, 81 );
    font-weight: bold;
}
div.menu_food div:not(#Grid_Header)
{
    width: 70%;
}
#Grid_Header
{
    grid-area: gridHeader;
    margin: 5% 0;
}
img.dish_1
{
    grid-area: dishImg1;
}
div.dish_1
{
    grid-area: dish1;
}
img.dish_2
{
    grid-area: dishImg2;
}
div.dish_2
{
    grid-area: dish2;
}
img.dish_3
{
    grid-area: dishImg3;
}
div.dish_3
{
    grid-area: dish3;
}
img.dish_4
{
    grid-area: dishImg4;
}
div.dish_4
{
    grid-area: dish4;
}
img.dish_5
{
    grid-area: dishImg5;
}
div.dish_5
{
    grid-area: dish5;
}
img.dish_6
{
    grid-area: dishImg6;
}
div.dish_6
{
    grid-area: dish6;
}
/*-----------------------------------------------------------------------------------------------*/
.addition_navigation
{
    background: url("img/TransPic1.png") 0 0 no-repeat, url("img/TransPic2.png") 100% 0 no-repeat, rgba( 255, 255, 255, 0.8 );
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 411px;
    padding: 3% 20%;
}
.addition_navigation h3
{
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    color: rgb( 42, 59, 64 );
    text-align: center;
    font-weight: bold;
}
.addition_navigation p
{
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color: rgb( 42, 59, 64 );
    line-height: 2;
    text-align: center;
}
.addition_navigation div.circle
{
    width: 23px;
    height: 23px;
}
.addition_navigation ul
{
    display: flex;
    justify-content: space-evenly;
}
.addition_navigation li
{
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: rgb( 42, 59, 64 );
    font-weight: bold;
    margin: 0 15%;
}
/*-----------------------------------------------------------------------------------------------*/
.new_menu
{
    background-image: url("img/Background_3.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15%;
}
.new_menu>div:first-child
{
    background-color: rgba( 255, 255, 255, 0.82 );
    padding-top: 3%;
}
.new_menu h3
{
    font-size: 77px;
    margin-top: -0.15em;
    margin-bottom: -0.25em;
}
.new_menu h4
{
    font-size: 45px;
}
.flex_container
{
    display: flex;
    justify-content: space-around;
    padding-bottom: 2%;
}
.column
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 5%;
}
.column>div
{
    margin: 4%;
    display: flex;
    align-items: center;
}
.inline_block
{
    display: inline-block;
    padding: 2%;
}
.image_circle
{
    border-radius: 50%;
    background-color: rgb( 255, 255, 255 );
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new_menu h5
{
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb( 48, 71, 81 );
    margin-bottom: 1em;
}
.new_menu p
{
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: rgb( 48, 71, 81 );
}
/*-----------------------------------------------------------------------------------------------*/
#Place_For_Background1
{
    background-image: url("img/Background_4.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vmin;
}
/*-----------------------------------------------------------------------------------------------*/
.book_form
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 3%;
}
.book_form h3
{
    font-size: 77px;
    color: rgb( 255, 255, 255 );
    margin-top: -0.15em;
    margin-bottom: -0.25em;
}
.book_form>div
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 3%;
}
.book_form label
{
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: rgb( 255, 255, 255 );
    font-weight: 600;
}
.book_form input, .book_form select
{
    background-color: transparent;
    width: 13vw;
    border: 0.1rem solid rgb( 255, 255, 255 );
    border-radius: 8px;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: rgb( 255, 255, 255 );
    font-weight: 600;
    padding: 5px;
    margin-top: 4%;
}
.book_form option
{
    background-color: rgb(42, 59, 64);

}
.submit_button
{
    margin-top: 3%;
    text-transform: uppercase;
}

/*-----------------------------------------------------------------------------------------------*/
#Place_For_Background2
{
    background-image: url("img/Background_5.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vmin;
}
/*-----------------------------------------------------------------------------------------------*/
.new_menu2
{
    background-color: rgba( 255, 255, 255, 0.8 );
    padding: 3% 10% 7% 10%;
}
.new_menu2 h3
{
    font-size: 77px;
    margin-top: -0.15em;
    margin-bottom: -0.25em;
}
.new_menu2 h4
{
    font-size: 45px;
    margin-bottom: 1.5%;
}
.new_menu2>div
{
    display: flex;
    justify-content: center;
}
.menu_item
{
    background-color: rgb( 255, 255, 255 );
    margin: 1.5%;
    width: 339px;
    font-family: "Raleway", sans-serif;
    padding-bottom: 2.5%;
}
.menu_item h6
{
    font-size: 14px;
    color: rgb( 85, 85, 85 );
    font-weight: bold;
}
.menu_item h5
{
    font-size: 16px;
    color: rgb( 79, 78, 78 );
    font-weight: bold;
    margin-bottom: 1%;
}
.menu_item p
{
    font-size: 16px;
    color: rgb( 79, 78, 78 );
    margin-top: 0;
}
.menu_item a
{
    text-decoration: none;
    font-size: 14px;
    color: rgb( 85, 85, 85 );
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 7px solid rgb( 255, 153, 43 );
}
.menu_item h6, .menu_item h5, .menu_item p, .menu_item a
{
    margin: 5%;
}
/*-----------------------------------------------------------------------------------------------*/
.quote
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15%;
}
.quote:before
{
    content: '“';
    font-family: "Raleway", sans-serif;
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    font-size: 80px;
    margin-top: 0.4em;
    margin-bottom: -0.3em;
}
.quote p
{
    font-family: "Raleway", sans-serif;
    font-size: 19px;
    color: rgb( 255, 255, 255 );
    line-height: 2;
    text-align: center;
}
.quote cite
{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 19px;
    font-weight: bold;
    color: rgb( 255, 255, 255 );
    line-height: 2;
    text-align: center;
    margin: 1em;
}
.social_media
{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
.social_media a
{
    height: 46px;
    width: 46px;
    margin: 10px;
}
/*-----------------------------------------------------------------------------------------------*/
.main_footer
{
    display: grid;
    grid-template-columns: 50% auto auto auto;
    grid-template-rows: 25% auto;
    grid-gap: 30px;
    grid-template-areas:
            "m_header l_header1 l_header2 l_header3"
            "par l_1 l_2 l_3";
    padding: 4% 8%;
    background-color: rgba( 255, 255, 255, 0.8 );
    margin-left: auto;
    margin-right: auto;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: rgb( 45, 47, 42 );
}

.main_footer h5
{
    text-transform: uppercase;
    grid-area: m_header;
    font-weight: bold;
    font-size: 25px;
}

.main_footer p
{
    grid-area: par;
    font-size: 18px;
    line-height: 1.5;
    padding-right: 30%;
}

.main_footer div
 {
     text-transform: uppercase;
     font-weight: bold;
     font-size: 20px;
 }

.list_header_1
{
    grid-area: l_header1;
}
.list_header_2
{
    grid-area: l_header2;
}
.list_header_3
{
    grid-area: l_header3;
}

.main_footer li
{
    font-weight: bold;
    font-size: 20px;
}

.navigation_list_1
{
    grid-area: l_1;
}
.navigation_list_2
{
    grid-area: l_2;
}
.navigation_list_3
{
    grid-area: l_3;
}
.navigation_list_3 li
{
    font-weight: normal;
}

